@import 'colors';

/* sidebar area */
.side-image {
    width: 100%;
    grid-column: 1 / span 2;
    grid-row: 2 / span 1;
    padding-top: 100px;

    img {
        width: 100%;
        position: relative;
        left: -20px;
        box-shadow: 40px 20px 0 -20px white;
    }
}

.blog-page .sidebar {
    grid-column: 1 / span 2;
    grid-row: 3;
}

.sidebar-text {
    background-color: white;
    margin-left: 10vw;
    padding: 20px;
    padding-top: none;

    .about-planted {
        margin-bottom: 40px;
    }

    li {
        display: flex;
        padding: 5px 0;
    }
    li a {
        font-family: $roboto;
        text-decoration: none;
        color: $black;

        &:hover, &:focus {
            font-weight: bold;
        }

        &:focus {
            background-color: $sunnyyellow;
            padding: 10px;
            border-radius: 5px;
        }
    }

    /* customize 'bullet' appearance by using pseudoelements */
    li:before {
        content: '•';
        color: forestgreen;
        vertical-align: middle;
        margin-right: 10px;
    }
}

/* container for the entire blog + comment area */
.blog-container {
    padding-left: 100px;
    grid-column: 3 / span 2;
    grid-row: 1 / span 4;
    display: flex;
    flex-direction: column;
}

/* blog post styles */
.post-image {
    width: 100%;
    align-self: flex-end;

    img {
        width: calc(100% - 20px);
        margin-left: 20px;
        margin-bottom: 20px;
        box-shadow: -20px 20px 0 0 $sunnyyellow;
    }
}

.post-container {
    border-right: 0;
    border-top: 0;
}

.post-text {
    width: 85%;
    
    border: 5px solid $sunnyyellow;
    border-top: 0;
    border-right: 0;
    padding: 40px;
}

.post-title {
    text-align: left;
}

.post-metadata {
    color: forestgreen;
    padding-left: 10px;

}

.post-content {
    padding-left: 10px;
}

/* blog comment section styles */
.comments-container {
    width: 85%;
    padding: 10px;

    h3 {
        padding: 50px 0;
    }
}

.comment {
    display: flex;
    padding-left: 5px;
}

.comment-text {
    display: flex;
    flex-direction: column;
    padding-bottom: 100px;
    padding-left: 20px;
}

.comment-body {
    flex-basis: 100%;
}

/* tweak generic form for blog-sepecific styles */
.blog-page .communication-form {
    padding: 0;
    textarea {
        margin: 20px 0;
    }
}

@media (max-width: 800px) {
    .blog-container {
        order: 1;
        padding-left: 0;
    }

    .post-image {
        margin-top: 20px;

        img {
            width: 100%;
            position: static;
            margin: 0;
            box-shadow: none;
        }
    }

    .post-text {
        border: 0;
        width: 100%;
        padding: 30px;

        .post-title {
            font-size: 32px;
        }
    }

    .comments-container {
        background-color: white;
        width: 100%;
        padding: 30px;

        h3 {
            padding-bottom: 200px 0;
        }
    }

    .comment {
        background-color: $offwhite;
        padding: 10px;
        flex-wrap: wrap;
        margin-bottom: 40px;

        .avatar {
            box-shadow: -10px -10px 0 0 $sunnyyellow;
            position: relative;
            top: -20px;
            left: -20px;
        }

        .comment-text {
            padding-bottom: 10px;
        }

        .comment-metadata {
            flex-shrink: 1;
        }
        .comment-body {
            flex-basis: 100%;
        }
    }
    
    // .comment {
    //     display: block;

    //     .avatar {
    //         display: inline-block;
    //     }
    //     .comment-text {
    //         display: inline-block;
    //     }
    // }

    .side-image {
        order: 2;
    }

    .blog-page .sidebar {
        order: 3;
        background-color: unset;
        padding-top: 0;

        .sidebar-text {
            margin-left: 0;
        }

        .recent-posts {
            font-size: 16px;
        }

    }

    .communication-form {
        width: 100%;

        .user-info {
            flex-wrap: wrap;
        }

        input {
            width: 100%;
            flex-basis: 100%;
        }
    }
}
