@import 'colors';

/* sidebar area */
.sidebar {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
}

.socials {
    padding-top: 100px;
    display: flex;
    justify-content: space-between;
    width: 45%;

    a {
        color: green;
    }
}

.contact-info {
    .email-address {
        padding: 20px 0;
    }
}


/* tweak generic form for blog-sepecific styles */
.contact-page .communication-form {
    grid-column: 3;
    grid-row: 1 / span 3;;
    background: #ffffff;
    box-shadow: -20px 20px 0 0 $sunnyyellow;
    margin-left: 20px;
}

@media (max-width: 800px) {
    .contact-page .communication-form {
        background: $offwhite;

        // unset box-shadow positioning
        box-shadow: none;
        margin-left: 0;
        top: 0;

        textarea {
            margin: 20px 0;
        }
    }

    .sidebar {
        text-align: center;
        width: 100%;
        padding: 50px 0;

        .socials {
            width: 35%;
            margin: 0 auto;
            padding-top: 0;
        }
    }
}