@import 'colors';

/* styles for default header */
header {
    /* header background */
    background-size: cover;
    &.main-header { background-image: url(../assets/home-image-1.jpg); } 

    /* dimensions */
    height: 60vh;
    min-height: 500px;
    width: 100vw;
}

/* flex container for all header elements */
.header-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.main-heading {
    display:flex;
    justify-content: space-around;
    z-index: 1;

}


h1 {
    color: $offwhite;
    word-spacing: 9999rem;
    width: min-content;

    em {
        color: $sunnyyellow;
    }
}

.header-pic {
    display: block;
    position: absolute;
    right: 0;
    top: 100px;
    z-index: 0;

    img {
    width: 38vw;
    object-fit: cover;
    }
}

/* navigation bar styling */
.top-bar {
    padding: 20px 0;

    ul {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 65%;
        min-width: 500px;
    }

    .hamburger-button {
        padding: 5px;
        color: $offwhite;

        &:hover {
            color: $sunnyyellow
        }
    }


    /* navigation link styling*/
    a {
        color: $offwhite;
        font-size: 20px;
        text-transform: uppercase;

        &:hover,
        &.active {
            color: $sunnyyellow;
        }

        &:focus {
            background-color: $sunnyyellow;
            color: $black;
        }
    }

    .logo a {
        font-size: 36px;
        text-transform: unset;
    }
}

.mobile-nav {
    display: none;
}



/* styles for headers on subpages */
.subpage {
    header {
        background-repeat: no-repeat;

        &.blog-header { background-image: url(../assets/blog-header-1.jpg); }
        &.contact-header { background-image: url(../assets/contact-header-1.jpg); }
    }

    .top-bar {
        background-color: #040a0c;
        padding: 10px 10vw;
    }
}