@import 'colors';

/* styles for default header */
header {
    /* header background */
    background-size: cover;
    &.main-header { background-image: url(../assets/home-image-1.jpg); } 

    /* dimensions */
    height: 60vh;
    min-height: 500px;
    width: 100vw;

    img {
        display: none;
    }
}

/* flex container for all header elements */
.header-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

h1 {
    color: $offwhite;
    word-spacing: 9999rem;

    em {
        color: $sunnyyellow;
    }
}

/* navigation bar styling */
.top-bar {
    padding: 20px 0;

    ul {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 65%;
    }

    .mobile-nav {
        visibility: hidden;
    }


    /* navigation link styling*/
    a {
        color: $offwhite;
        font-size: 20px;
        text-transform: uppercase;

        &:hover,
        &.active {
            color: $sunnyyellow;
            font-weight: bold;
        }

        &:focus {
            background-color: $sunnyyellow;
            color: $black;
            font-weight: bold;
            padding: 10px;
            border-radius: 5px;
        }
    }

    .logo a {
        font-size: 36px;
        text-transform: unset;
    }
}



/* styles for headers on subpages */
.subpage {
    header {
        background-repeat: no-repeat;

        &.blog-header { background-image: url(../assets/blog-header-1.jpg); }
        &.contact-header { background-image: url(../assets/contact-header-1.jpg); }
    }

    .top-bar {
        background-color: #040a0c;
        padding: 10px 10vw;
    }
}