@import 'setup';
@import 'font';
@import 'blog';
@import 'contact';
@import 'colors';
@import 'header';

@mixin text-column($alignment) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: $alignment;
}

html {
    font-size: 125%;
}

a {
    text-decoration: none;
}

strong {
    font-weight: bold;
}

/* buttons and global focus effects */
button,
.link-button {
    // button funt
    font-family: $josefin;
    background-color: $green;
    color: $offwhite;

    // button display
    display: block;
    width: max-content;
    border: 0;
    padding: 5px;
}

button:focus,
a:focus img,
.link-button:focus,
input:focus,
textarea:focus {
    box-shadow: 10px 10px 0 0 $sunnyyellow;
}

a:focus i {
    background-color: $sunnyyellow;
    font-size: 30px;
    font-weight: bold;
    border: 5px solid $sunnyyellow;
}

a.skip-link:focus,
a.skip-link:active {
    padding: 0px;
    border: 2px solid white;
    background-color: $sunnyyellow;
    color: $black;
    margin: 200px auto;
    left:0;
    top: 0;
}

body {
    background-color: $offwhite;
}


.wrapper {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}

.mobile-only {
    display: none;
}

.intro {
    padding: 100px 0;
}

.intro-text {
    @include text-column(center);
    width: 60%;

    p {
        padding: 20px;
    }
}

.flower-content {
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 100px 0;
}

.content-tile {
    width: 45%;

    img {
        width: 100%;
    }

    &:first-child {
        @include text-column(flex-end);
        text-align: right;

        button {
            margin-left: auto;
        }

        img {
            box-shadow: 20px 20px 0 0 $sunnyyellow;
            position: relative;
            top: -20%;
        }
    }

    &:last-child {
        @include text-column(flex-start);
        text-align: left;

        img {
            box-shadow: -20px 20px 0 0 $sunnyyellow;
            order: 4;
            position: relative;
            top: 20%;
        }
    }
}

.section-text {
    width: 80%;
}



.bullet-points {
    background: $offwhite;
    padding: 100px 0;
}

.bullet-points>ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    li {
        flex: 0 1 50%;
        padding: 5px;
    }

}

.bullet-points ul {
    display: flex;
    flex-wrap: wrap;
}

.bullet-grid {
    flex-basis: 47.5%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 80px 200px;
    grid-gap: 0px 10px;

    span,
    h3 {
        align-self: center;
    }

    p {
        grid-column: 2 /span 1;
    }
}

.fa-stack-1x,
.fa-leaf {
    color: $black !important;
}

.fa-stack-2x {
    color: $sunnyyellow;
}

.founder-banner {
    width: 100vw;
}

.founder-content {
    display: flex;
    justify-content: space-between;
    padding: 100px 0;
}

.founder-content img {
    box-shadow: 20px 20px 0 0 $sunnyyellow;
}

.founder-text {
    display: flex;
    flex-direction: column;
    flex-basis: 70%;
    justify-content: space-between;
}

.gallery {
    background-color: white;
}

.gallery-images {
    display: flex;
    justify-content: space-between;
    padding: 100px 0;

    a {
        display: inline-block;
    }

    a img {
        display: block;
        width: 20vw;
        height: 20vw;
    }
}

footer {
    background: $black;
    color: $offwhite;
    text-align: center;
    padding: 10px 0;
}

/* SUBPAGE STYLES */
/* grid container for the main section */
.content-grid {
    /* grid properties */
    display: grid;
    grid-template-rows: 200px auto auto auto;
    grid-template-columns: 10vw 24fr 56fr 10vw;

    /* positioning */
    position: relative;
    top: -200px;
    width: 100vw;
}

.subpage-title {
    grid-column: 2 / span 1;
    margin-bottom: 200px;
}

.communication-form {
        grid-column: 3 / span 1;
        grid-row: 1 / span 2;
        padding: 30px;
        position: relative;
        top: -20px;

        form {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;
        }

        fieldset {
            display: flex;
            justify-content: space-between;

            input {
                background: inherit;
                border: 0;
                border-bottom: 2px solid $green;
                padding: 10px 20px;
                flex-basis: 45%;
            }
        }

        textarea {
            background: inherit;
            border: 2px solid $green;
            min-height: 300px;
            padding: 10px 20px;
        }
    }

    @media (max-width: 800px) {
        .mobile-only {
            display: unset;
        }

        .mobile-hidden {
            display: none;
        }

        body p {
            font-size: 16px;
        }

        header {
            height: 300px;
            min-height: 300px;
        }
        .wrapper {
            width: calc(100% - 40px);
        }

        h1 {
            font-size: 72px;
        }

        .content-grid {
            top: 0;
        }
        .top-bar {
            padding: 10px;
            width: 100%;
            justify-content: space-between;

            ul {
                width: 100%;
            }

            // hide all nav links
            li {
                display: none;
            }

            // restore only the logo and the hamburger menu
            li.logo,
            li.mobile-nav {
                display: unset;
            }

            .mobile-nav {
                visibility: visible !important;
            }
        }

        .flower-content {
            flex-direction: column;
            padding: 0px;
        }

        .content-tile {
            width: 100%;



            .section-text {
                width: 100%;
                padding: 20px;
            }

            &:first-child {
                text-align: left;
                margin-bottom: 60px;

                button {
                    margin: 0;
                }

                img.content-img {
                    margin-bottom: 40px;
                }
            }
        }

        .bullet-points {
            padding: 50px 0;
        }

        .bullet-grid {
            flex-basis: 100%;
            grid-template-rows: auto auto;

            h3, span {
                font-size: 24px
            }

            p {
                margin-bottom: 20px;
            }
        }


        .founder-banner {
            min-height: 200px;
            object-fit: cover;
        }

        .founder-content {
            flex-direction: column;
            padding: 50px 0;

            .founder-text {
                margin-top: 40px;
            }

            h2 {
                font-size: 36px;
            }

            img {
                object-fit: cover;
            }
        }

        .gallery {
            padding: 0;
        }

        .gallery-images img {
            width: 47.5%;
        }

        .subpage-title {
            text-align: center;
            margin-bottom: 0;
        }

        .content-grid {
            display: flex;
            flex-direction: column;
            width: 100vw;
        }

        .blog-container {
            order: 1;
            padding-left: 0;
        }

        .side-image {
            order: 2;
        }

        .sidebar {
            order: 3;
        }

        .communication-form {
            width: 100%;

            .user-info {
                width: 100%;
                flex-wrap: wrap;
            }

            fieldset input {
                flex-basis: 100%;
            }
        }
    }