@import 'setup';
@import 'font';
@import 'blog';
@import 'contact';
@import 'colors';
@import 'header';

@mixin text-column($alignment) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: $alignment;
}

a {
    text-decoration: none;
}

body {
    background-color: $offwhite;
}

.wrapper {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}

.intro {
    padding: 100px 0;
}

.intro-text {
    @include text-column(center);
    width: 60%;

    p {
        padding: 20px;
    }
}

.flower-content {
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 100px 0;
}

.content-tile {
    width: 45%;

    img {
        width: 100%;
    }

    &:first-child {
        @include text-column(flex-end);
        text-align: right;

        button {
            margin-left: auto;
        }

        img {
            box-shadow: 20px 20px 0 0 $sunnyyellow;
            position: relative;
            top: -20%;
        }
    }

    &:last-child {
        @include text-column(flex-start);
        text-align: left;

        img {
            box-shadow: -20px 20px 0 0 $sunnyyellow;
            order: 4;
            position: relative;
            top: 20%;
        }
    }
}

.section-text {
    width: 80%;
}

button {
    background-color: $green;
    color: $offwhite;
    border: 0;
    display: block;
}

.bullet-points {
    background: $offwhite;
    padding: 100px 0;
}

.bullet-points>ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    li {
        flex: 0 1 50%;
        padding: 5px;
    }

}

.bullet-points ul {
    display: flex;
    flex-wrap: wrap;
}

.bullet-grid {
    flex-basis: 47.5%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 80px 200px;
    grid-gap: 0px 10px;

    span,
    h3 {
        align-self: center;
    }

    p {
        grid-column: 2 /span 1;
    }
}

.fa-stack-1x,
.fa-leaf {
    color: $black !important;
}

.fa-stack-2x {
    color: $sunnyyellow;
}

.founder-banner {
    width: 100vw;
}

.founder-content {
    display: flex;
    justify-content: space-between;
    padding: 100px 0;
}

.founder-content img {
    box-shadow: 20px 20px 0 0 $sunnyyellow;
}

.founder-text {
    display: flex;
    flex-direction: column;
    flex-basis: 70%;
    justify-content: space-between;
}

.gallery {
    background-color: white;
}

.gallery-images {
    display: flex;
    justify-content: space-between;
    padding: 100px 0;

    img {
        width: 30%;
    }
}

footer {
    background: $black;
    color: $offwhite;
    text-align: center;
    padding: 10px 0;
}