@charset "UTF-8";
a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

audio,
canvas,
video {
  display: inline-block;
  max-width: 100%;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active,
a:hover {
  outline: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button,
input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

input[type=checkbox],
input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button,
html,
input,
select,
textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: .2em 0;
  background: #ccc;
  color: #000;
  padding: .2em 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

body {
  font-family: "Josefin Sans", sans-serif;
}

body p, input, textarea {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  line-height: 32px;
}

.intro p {
  text-align: center;
}

h1 {
  font-size: 166px;
}

h2 {
  font-size: 56.3px;
  font-weight: bold;
  letter-spacing: 1.3px;
  text-align: center;
}

.founder h2 {
  font-size: 42px;
  letter-spacing: 1px;
  text-align: unset;
}

.subpage-title {
  color: #f8e71c;
  font-size: 80px;
  font-weight: bold;
  line-height: 92px;
  text-align: left;
}

h3 {
  font-size: 32px;
  font-weight: bold;
  letter-spacing: 1px;
}

button {
  font-style: 20px;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 32px;
  text-align: center;
}

.post-metadata {
  color: forestgreen;
  font-style: italic;
}

.comment-metadata {
  color: forestgreen;
  font-size: 20px;
  font-weight: bold;
  line-height: 32px;
}

.socials {
  font-size: 20px;
}

.contact-info li {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 24px;
}

.contact-info li.email-address {
  font-family: "Josefin Sans", sans-serif;
  font-size: 24px;
}

.form-field {
  font-style: 20px;
  font-weight: 300;
  line-height: 32px;
}

/* header styles */
/* TODO: this was styled as a grid in contact page; make consistent */
.blog-page main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  top: -200px;
}

/* TODO: refactor names like blog-left-section and blog-right-section */
/* sidebar area */
.blog-left-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 35%;
}

.blog-left-section .subpage-title {
  padding-left: 10vw;
  margin-bottom: 200px;
}

.sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: white;
  margin-left: 10vw;
}

.sidebar-image {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-bottom: 20px;
}

.sidebar-image img {
  position: relative;
  top: -20px;
  left: -20px;
}

/* TODO: rename/refactor; "About Planted' is currently under the .recent-posts style */
.recent-posts {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 20px;
  /* customize 'bullet' appearance by using pseudoelements */
}

.recent-posts li {
  padding: 5px 0;
}

.recent-posts li a {
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  color: #2c2c2c;
}

.recent-posts li:before {
  content: '•';
  color: forestgreen;
  vertical-align: middle;
  margin-right: 10px;
}

/* blog + comment area */
.blog-right-section {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.post-image {
  width: 100%;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.post-image img {
  width: calc(100% - 20px);
  margin-left: 20px;
  margin-bottom: 20px;
  -webkit-box-shadow: -20px 20px 0 0 #f8e71c;
          box-shadow: -20px 20px 0 0 #f8e71c;
}

.post-container {
  border-right: 0;
  border-top: 0;
}

.post-text {
  width: 85%;
  border: 5px solid #f8e71c;
  border-top: 0;
  border-right: 0;
  padding: 40px;
}

.post-title {
  text-align: left;
}

.post-metadata {
  color: forestgreen;
  padding-left: 10px;
}

.post-content {
  padding-left: 10px;
}

.comment-section {
  width: 85%;
  padding: 10px;
}

.comment-section h3 {
  padding: 50px 0;
}

.comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 5px;
}

.comment-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 100px;
  padding-left: 20px;
}

/* TODO: refactor comment-form and contact-form and remove !important */
/* TODO: style and structure form analogously across blog + contact pages */
.blog-page .communication-form {
  padding: 0;
}

.blog-page .communication-form textarea {
  margin: 20px 0;
}

.subpage.main-heading {
  -ms-grid-column: 1;
  grid-column: 1;
  /* override style from main; TODO: separate these styles */
  padding: unset;
  width: 100%;
  -ms-flex-item-align: unset;
      -ms-grid-row-align: unset;
      align-self: unset;
}

.content-grid {
  /* grid properties */
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 200px 3fr;
      grid-template-rows: 200px 3fr;
  -ms-grid-columns: 3fr 7fr;
      grid-template-columns: 3fr 7fr;
  grid-gap: 100px;
  /* positioning */
  width: 80%;
  margin: 0 auto;
  position: relative;
  top: -200px;
}

.contact-page {
  background: #f0efed;
}

/* sidebar area */
.sidebar {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / span 1;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / span 1;
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 45%;
}

.socials a {
  color: green;
}

.contact-info .email-address {
  padding: 20px 0;
}

/* form area */
.communication-form {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / span 1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / span 2;
  padding: 30px;
}

.communication-form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

.communication-form fieldset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.communication-form fieldset input {
  background: inherit;
  border: 0;
  border-bottom: 2px solid #0e902d;
  padding: 10px 20px;
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
}

.communication-form textarea {
  background: inherit;
  border: 2px solid #0e902d;
  min-height: 300px;
  padding: 10px 20px;
}

.contact-page .communication-form {
  background: #ffffff;
  -webkit-box-shadow: 20px 20px 0 0 #f8e71c;
          box-shadow: 20px 20px 0 0 #f8e71c;
}

/* styles for default header */
header {
  /* header background */
  background-size: cover;
  /* dimensions */
  height: 60vh;
  min-height: 500px;
  width: 100vw;
}

header.main-header {
  background-image: url(../assets/home-image-1.jpg);
}

header img {
  display: none;
}

/* flex container for all header elements */
.header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

h1 {
  color: #f0efed;
  word-spacing: 9999rem;
}

h1 emph {
  color: #f8e71c;
}

/* navigation bar styling */
.top-bar {
  padding: 20px 0;
  /* navigation link styling*/
}

.top-bar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 50%;
}

.top-bar a {
  color: #f0efed;
  font-size: 20px;
  text-transform: uppercase;
}

.top-bar a.logo {
  font-size: 36px;
  text-transform: unset;
}

.top-bar a:hover, .top-bar a:focus, .top-bar a.active {
  color: #f8e71c;
  font-weight: bold;
}

.main-heading {
  padding: 5vh;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

/* styles for headers on subpages */
.subpage header {
  background-repeat: no-repeat;
}

.subpage header.blog-header {
  background-image: url(../assets/blog-header-1.jpg);
}

.subpage header.contact-header {
  background-image: url(../assets/contact-header-1.jpg);
}

.subpage .top-bar {
  background-color: #040a0c;
  padding: 10px 10vw;
}

a {
  text-decoration: none;
}

body {
  background-color: #f0efed;
}

.wrapper {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

.intro {
  padding: 100px 0;
}

.intro-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60%;
}

.intro-text p {
  padding: 20px;
}

.flower-content {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 100px 0;
}

.content-tile {
  width: 45%;
}

.content-tile img {
  width: 100%;
}

.content-tile:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  text-align: right;
}

.content-tile:first-child button {
  margin-left: auto;
}

.content-tile:first-child img {
  -webkit-box-shadow: 20px 20px 0 0 #f8e71c;
          box-shadow: 20px 20px 0 0 #f8e71c;
  position: relative;
  top: -20%;
}

.content-tile:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  text-align: left;
}

.content-tile:last-child img {
  -webkit-box-shadow: -20px 20px 0 0 #f8e71c;
          box-shadow: -20px 20px 0 0 #f8e71c;
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
  position: relative;
  top: 20%;
}

.section-text {
  width: 80%;
}

button {
  background-color: #0e902d;
  color: #f0efed;
  border: 0;
  display: block;
}

.bullet-points {
  background: #f0efed;
  padding: 100px 0;
}

.bullet-points > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.bullet-points > ul li {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding: 5px;
}

.bullet-points ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.bullet-grid {
  -ms-flex-preferred-size: 47.5%;
      flex-basis: 47.5%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  -ms-grid-rows: 80px 200px;
      grid-template-rows: 80px 200px;
  grid-gap: 0px 10px;
}

.bullet-grid span,
.bullet-grid h3 {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.bullet-grid p {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 /span 1;
}

.fa-stack-1x,
.fa-leaf {
  color: #2c2c2c !important;
}

.fa-stack-2x {
  color: #f8e71c;
}

.founder-banner {
  width: 100vw;
}

.founder-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 100px 0;
}

.founder-content img {
  -webkit-box-shadow: 20px 20px 0 0 #f8e71c;
          box-shadow: 20px 20px 0 0 #f8e71c;
}

.founder-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 70%;
      flex-basis: 70%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.gallery {
  background-color: white;
}

.gallery-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 100px 0;
}

.gallery-images img {
  width: 30%;
}

footer {
  background: #2c2c2c;
  color: #f0efed;
  text-align: center;
  padding: 10px 0;
}
